$dark:#000;
$text-color: #263238;
$number:#2A3246;
$gray:#8F95A5;
$light-gray:#EEEEEE;
$white:#fff;
$grid-color:#F5F5F5;
$button-color:#546269;
$border-color: #C4C4C4;
$pop-med:"Poppins-Medium";
$pop-reg:"Poppins-Regular";
$pop-sem:"Poppins-SemiBold";